#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,h3,li,ul {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: black 1px 1px 3pt;
}
p {
  color:aliceblue;
  text-shadow: black 1px 1px 1px;
}
img {
  margin: 30px;
  width: 150px;
  height: 150px;
  background-color: darkcyan;
  transition:ease-in-out 0.3s;
  border-radius: 80%;
  box-shadow: black 1px 1px 30px 5px;
}
img:hover {
  border-radius: 20%;
  box-shadow: black 1px 1px 50px 10px;
  transition: ease-in-out 1.5s;
}
body::after {
  font-family: 'Courier New', Courier, monospace;
  background-color: grey;
  transition:ease-in-out 0.3s;
  padding: 10px;
  margin: 10px;
  border-radius: 40% 20% 20% 40% / 70% 90%;
}